doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    h1 Admin dash  board
    br
    a(href='/cd') add courses
    | &nbsp;&nbsp;&nbsp;&nbsp;
    a(href='/admincdash') view courses
    | &nbsp;&nbsp;&nbsp;&nbsp;
    a(href='/approveform') approve form
    | &nbsp;&nbsp;&nbsp;&nbsp;
    a(href='/usersform') Users
    | &nbsp;&nbsp;&nbsp;&nbsp;
    a(href='/logout') logout