html
  head
    title usedash
    style.
      h1{
      text-align: center;
      }
  body
    form(action='/udash')
      h1 userdash board
      a(href='/cdash') view courses
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/yourcourses') Your courses
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/logout') logout